
#processViewArea {
    background: black none repeat scroll 0 0;
}
.pcvArea {
    background-image: url("../img/bgProcessView/steamsys47.gif");
    background-repeat: no-repeat;
    background-size: 950px 533px;
    font-size: 13px;
    font-weight: bold;
    height: 540px;
    margin: auto;
    width: 950px;
}
.pcvArea #point0 {
    color: #00ff00;
    left: 800px;
    position: relative;
    top: 411px;
    z-index: 99;
}
.pcvArea #point1 {
    color: #00ff00;
    left: 66px;
    position: relative;
    top: 131px;
    z-index: 99;
}
#barChart{
	
    background: #00ff00 none repeat scroll 0 0;
    height: 28px;
    left: 19px;
    position: relative;
    top: -513px;
    width: 143px;
    
}
.pcvArea #point2 {
    color: #00ff00;
    left: 68px;
    position: relative;
    top: 131px;
    z-index: 99;
}
.pcvArea #point3 {
    color: #00ff00;
    left: 249px;
    position: relative;
    top: -33px;
    z-index: 99;
}
.pcvArea #point4 {
    color: #00ff00;
    left: 334px;
    position: relative;
    top: -52px;
    z-index: 99;
}
.pcvArea #point5 {
    color: #00ff00;
    left: 437px;
    position: relative;
    top: -71px;
    z-index: 99;
}
.pcvArea #point6 {
    color: #00ff00;
    left: 558px;
    position: relative;
    top: -54px;
    z-index: 99;
}
.pcvArea #point7 {
    color: #00ff00;
    left: 558px;
    position: relative;
    top: -58px;
    z-index: 99;
}
.pcvArea #point8 {
    color: #00ff00;
    left: 558px;
    position: relative;
    top: -59px;
    z-index: 99;
}.pcvArea #point9 {
    color: #00ff00;
    left: 614px;
    position: relative;
    text-align: right;
    top: -12px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point10 {
    color: #00ff00;
    left: 614px;
    position: relative;
    text-align: right;
    top: 3px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point11 {
    color: #00ff00;
    left: 774px;
    position: relative;
    text-align: right;
    top: -21px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point12 {
    color: #00ff00;
    left: 775px;
    position: relative;
    text-align: right;
    top: -23px;
    width: 100px;
    z-index: 99;
}.pcvArea #point13 {
    color: #00ff00;
    left: 727px;
    position: relative;
    text-align: right;
    top: 59px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point14 {
    color: #00ff00;
    left: 728px;
    position: relative;
    text-align: right;
    top: 58px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point15 {
    color: #00ff00;
    left: 546px;
    position: relative;
    text-align: right;
    top: -11px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point16 {
    color: #00ff00;
    left: 551px;
    position: relative;
    text-align: right;
    top: 89px;
    width: 100px;
    z-index: 99;
}.pcvArea #point17 {
    color: #00ff00;
    left: 416px;
    position: relative;
    text-align: right;
    top: -50px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point18 {
    color: #00ff00;
    left: 421px;
    position: relative;
    text-align: right;
    top: 52px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point19 {
    color: #00ff00;
    left: 175px;
    position: relative;
    text-align: right;
    top: -106px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point20 {
    color: #00ff00;
    left: 229px;
    position: relative;
    top: 33px;
    width: 100px;
    z-index: 99;
}.pcvArea #point21 {
    color: #00ff00;
    left: 108px;
    position: relative;
    text-align: right;
    top: -104px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point22 {
    color: #00ff00;
    left: 108px;
    position: relative;
    text-align: right;
    top: -110px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point23 {
    color: #00ff00;
    left: 108px;
    position: relative;
    text-align: right;
    top: -117px;
    width: 100px;
    z-index: 99;
}.pcvArea #point24 {
    color: #00ff00;
    left: -34px;
    position: relative;
    text-align: right;
    top: -160px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point25 {
    color: #00ff00;
    left: -34px;
    position: relative;
    text-align: right;
    top: -162px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point26 {
    color: #00ff00;
    left: -34px;
    position: relative;
    text-align: right;
    top: -142px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point27 {
    color: #00ff00;
    left: -34px;
    position: relative;
    text-align: right;
    top: -145px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point28 {
    color: #00ff00;
    left: 387px;
    position: relative;
    text-align: right;
    top: -62px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point29 {
    color: #00ff00;
    left: 563px;
    position: relative;
    text-align: right;
    top: -83px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point30 {
    color: #00ff00;
    left: 761px;
    position: relative;
    text-align: right;
    top: -550px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point31 {
    color: #00ff00;
    left: 761px;
    position: relative;
    text-align: right;
    top: -550px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point32 {
    color: #00ff00;
    left: -17px;
    position: relative;
    text-align: right;
    top: -148px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point33 {
    color: #00ff00;
    left: 84px;
    position: relative;
    text-align: right;
    top: -194px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point34 {
    color: #00ff00;
    left: 83px;
    position: relative;
    text-align: right;
    top: -196px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point35 {
    color: #00ff00;
    left: 82px;
    position: relative;
    text-align: right;
    top: -198px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point36 {
    color: #00ff00;
    left: 321px;
    position: relative;
    text-align: right;
    top: -288px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point37 {
    color: #00ff00;
    left: 322px;
    position: relative;
    text-align: right;
    top: -235px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point38 {
    color: #00ff00;
    left: 614px;
    position: relative;
    text-align: right;
    top: -323px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point39 {
    color: #00ff00;
    left: 615px;
    position: relative;
    text-align: right;
    top: -323px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point40 {
    color: #00ff00;
    left: 784px;
    position: relative;
    text-align: right;
    top: -377px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point41 {
    color: #00ff00;
    left: -11px;
    position: relative;
    text-align: right;
    top: -261px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point42 {
    color: #00ff00;
    left: 95px;
    position: relative;
    text-align: right;
    top: -278px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point43 {
    color: #00ff00;
    left: 331px;
    position: relative;
    text-align: right;
    top: -293px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point44 {
    color: #00ff00;
    left: 513px;
    position: relative;
    text-align: right;
    top: -309px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point45 {
    color: #00ff00;
    left: 583px;
    position: relative;
    text-align: right;
    top: -348px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point46 {
    color: #00ff00;
    left: 798px;
    position: relative;
    text-align: right;
    top: -401px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point47 {
    color: #00ff00;
    left: 798px;
    position: relative;
    text-align: right;
    top: -395px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point48 {
    color: #00ff00;
    left: 798px;
    position: relative;
    text-align: right;
    top: -389px;
    width: 100px;
    z-index: 99;
}
.pcvArea #point49 {
    color: #00ff00;
    left: 798px;
    position: relative;
    text-align: right;
    top: -384px;
    width: 100px;
    z-index: 99;
}
#paramDate{
	color:white;
}
